@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


* {
    font-family: "inter", sans-serif;
    block-size: border-box;

}


p {
    font-size: 0.8rem;
}

body {
   height: 100vh;
    background-color: rgb(40, 38, 38);
    color:aliceblue;
    }

#modem {
   width: 70vh;
   padding: 20px ;
}
h1 {
    text-transform: capitalize;
    font-size: 2.5rem;
}
nav { 
    margin-top: 15px;
    display:grid;
    grid-template-columns: 50% 50%;
    
}

h2 {
    width: 50%;
}
nav ul {
    display:flex;
    justify-content: space-between;
    
}
nav ul li {
    list-style-type: none;
    margin: 20px 20px 20px 20px;

}

header {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.header-left h1 {
    font-size: 4rem;
}

.header-left h3 {
    color:rgb(27, 27, 232);
    font-size: 2rem ;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.header-right img {
    width:10rem;
}
button {
    background-color:rgb(27, 27, 232);
    
    color: white;
    border-radius: 10px;
}

button {
    margin: 5px;
    height: 35px;
    width: 135px;
}



.infos {
    
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: 30%  70%;
    background-color: rgb(14, 13, 13);
    color : whitesmoke;
    border-radius: 10px; 
    width: 100%;
}

.infos-left {
   display:grid;
}

.btn-container {
    display: grid;
}

.infos-right h3 {
    margin-left: 25px;
}
.img-container {
    display: grid;
    display: inline;
}
.img-container img {
    height: 70px;
    display: flex;
    display:inline;
    
    
  
} 
.img-container {
    display: flex;
    justify-content:space-around;
    height: 125px;
    align-items: center;
}
/* *************$ MEDIA QUERIES ************ */

@media screen and (max-width:1500px) {
    nav {
        display: grid;
        grid-template-columns: 35% 65%;
    }
    
    
    #modem {
        width:90%;

    }
    
}

@media screen  and (max-width: 750px) {
    body{
        background-color: red;
    }
     h2 {
        font-size: 1.5rem;
    }
    nav ul li {
        font-size: 1.3rem;
    }

    .header-left h1 {
        font-size: 3rem;
    }
    #modem {
        width:90%;
    }
    .infos {
        display: block;
       
       
    }
    .infos-left {
        justify-content: center;
    }
    .infos-left .btn-container{
        margin: 0 auto;
    }
    
    @media screen  and (max-width:580px) {


        h2 {
            font-size: 1.2rem;
        }
        nav ul li {
            font-size: 1rem;
        }
        .header-left h1 {
            font-size: 1.5rem;
        }
        .header-left h3 {
            font-size: 1rem;
        }
        .img-container img {
            width: 20%;
        }
        .infos-right h3 {
            text-align: center;
           
        }
       
    }